:root {
    --white:#FFFFFF;
    --orange:#FF6437;
    --soft-red:#F54B64;
    --soft-orange:#F78361;
    --text-grey:#707070;
    --black:#20242F;
    --background:#F6F6F6;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
.header__search {
    display: flex;
    margin: auto 0 ;
    margin-right: 50px;
    list-style: none;
    /* justify-content: space-between; */
}
.header__search a {
    margin-left: 51px;
    font-size: 1.7rem;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
}
.header__menu {
    display: none;
}
.header__logo {
    height: 41.76px;
    margin-left: 50px;
}
main {
    padding: 16px;
    width: 1300px;
    margin: 0;
}
.main__container1 {
    display: flex;
    margin-bottom: 0;
}
.main__share {
    display: flex;
    align-items: center;
}
.main__share img {
    width: 16px;
}
.main__share a {
    margin-left: 8px;
    text-decoration: none;
    color: var(--black);
    font-size: 1.7rem;
}
.main__heart {
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.main__heart img {
    width: 16px;
}
.main__heart a {
    margin-left: 8px;
    text-decoration: none;
    color: var(--black);
    font-size: 1.7rem;
}
h3 {
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.main__container2 {
    display: flex;
}
.main__score {
    display: flex;
    align-items: center;
}
.main__score img {
    width: 16px;
}
.main__score a {
    margin-left: 8px;
    text-decoration: none;
    color: var(--black);
    font-size: 1.7rem;
}
.main__place {
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.main__place img {
    width: 13px;
}
.main__place a {
    margin-left: 8px;
    text-decoration: none;
    color: var(--black);
    font-size: 1.7rem;
}
/* Carrusel */
.container{
    background-color: white;
    width: 1268px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 16px;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.slider{
    position: relative;
    width: 1268px;
    height: 400px;
}
  
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
  
ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
  
.menu{
    text-align: center;
    margin: 20px;
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    
}
.menu li{
    display: inline-block;
    margin: 0 3px;
}
.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: var(--orange);
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.main__host {
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.main__host--img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(../Images/Descripcion\ -\ 6@2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main__host--description {
    margin-left: 10px;
}
.main__host--description h5 {
    font-size: 3.4rem;
}
.main__host--description__score {
    display: flex;
}
.main__host--description__score img {
    width: 130px;
}
.main__host--description__score p {
    font-size: 1.7rem;
    margin-left: 8px;
}
.main__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 13px;
    border-radius: 16px;
    box-shadow: 0 4px 8px var(--text-grey);
    border: none;
    width: 400px;
}
.main__date--price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.main__date--price img {
    width: 14px;
}
.main__date--price p {
    margin-left: 10px;
}
.main__date--title {
    margin-bottom: 10px;
}
.main__date a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 26px;
    background-color: var(--orange);
    border-radius: 16px;
    text-decoration: none;
    color: var(--white);
}
section {
    padding: 0;
    background-color: var(--background);
    /* display: flex; */
    width: 100%;
    /* flex-direction:initial; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around;
    align-items: flex-start; */
}
.section__features {
    background-color: var(--white);
    padding: 16px;
    border-radius: 16px;
    width: 880px;
    height: 326px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section__features--details__container {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
}
.section__features--details h5 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}
.details__container--item {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.details__container--item img {
    width: 20px;
}
.details__container--item p {
    margin-left: 10px;
}
.section__features--ventajas {
    margin-top: 10px;
}
.section__features--ventajas__container {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
}
.section__features--ventajas h5 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}
.ventajas__container--item {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.ventajas__container--item span {
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 100%;
}
.ventajas__container--item p {
    margin-left: 10px;
}
.section__map {
    margin: 0;
    background-color: var(--white);
    border-radius: 16px;
    width: 330px;
}
.section__map--chart {
    width: 330px;
    height: 163px;
    border-radius: 16px 16px 0 0;
}
.section__map--details {
    background-color: var(--white);
    border-radius: 0 0 16px 16px;
    padding: 16px;
    /* height: 163px; */
}
.section__map--details h5 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}
.section__map--details p {
    font-size: 1.7rem;
}
.text-bottom {
    margin-top: 10px;
    color: var(--text-grey);
}
.section__text {
    width: 1300px;
    /* height: 321px; */
    background-color: var(--white);
    border-radius: 16px;
    padding: 16px;
    margin-top: 10px;
}
.section__text h5 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}
.section__text p {
    font-size: 1.7rem;
}
.main__general--container {
    display: flex;
    justify-content: space-between;
}
.main__general--container2 {
    display: flex;
    justify-content: space-between;
}
.main__general--container3 {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
}